.MediaCardContainer {
  width: 270px;
  margin: auto;
  padding: 5px;
}
.MediaCardImage {
  height: 80px !important;
  max-width: 80px;
}
.MediaCardDescription {
  height: 100px;
  max-height: max-content;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.RecipeCardTitle {
  color: #36454f;
  word-wrap: normal;
  font-size: 14px;
}
