.MediaCardContainer {
  max-width: 310px;
  margin: auto;
}
.MediaCardImage {
  height: 80px !important;
  max-width: 80px;
  margin: auto;
}
.MediaCardDescription {
  height: 100px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.RecipeCardTitle {
  color: #36454f;
}
